>
  <div class="block block-title"><strong>Search</strong></div>
  <div class="block block-content">
    <form class="form minisearch" id="search_mini_form" action="https://www.champion.com/catalogsearch/result/"
      method="get">
      <div class="field search"><label class="label" for="search"
          data-role="minisearch-label"><span>Search</span></label>
        <div class="control"><input id="search" type="text" name="q" value="" data-rfkid="rfkid_6" placeholder="Search"
            class="input-text rfk_sb" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both"
            autocomplete="off" data-tdi="0"><span class="delete-info-search"></span>
          <div class="nested"><a class="action advanced" href="https://www.champion.com/catalogsearch/advanced/"
              data-action="advanced-search">Advanced Search</a></div>
        </div>
      </div>
      <div class="actions"><button type="submit" title="Search" class="action search"><span>Search</span></button></div>
    </form>
  </div>
>


