<div class="shipping-to-link">
  <span>Shipping To:</span>
  <span id="bfx-cc-insert-after"></span>

  <div id="bfx-cc-wrapper-collapsed" class="bfx-cc-wrapper bfx-cc-position-right bfx-cc-position-top" style="position: relative; display: block;">
    <div class="bfx-cc-collapsed" style="height: 25px;">
      <div class="bfx-cc-menu">
        <span class="bfx-cc-flag">
          <a id="bfx-cc-flag-link" href="javascript:void(0)"
            aria-label="Currently shipping to United States. Click here to change shipping location. Show more content.">
            <img src="https://bfx-objects.prd.borderfree.com/v1/dist/images/context-chooser/flags/US.gif"
              alt="United States">
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
